<center>
    <h3><i><%=msg%></i></h3>
    <div>
        <form action="/users/signin" class="form-container" method="post">
            <label for="unm"><b>Username:</b></label>
            <input type="text" placeholder="Enter username" name="unm" required>
            <label for="upass"><b>Password:</b></label>
            <input type="password" placeholder="Enter Password" name="upass" required>
            <button type="submit" class="btn"><b>Submit</b></button>
          </form>
    </div>
</center>