<form class="btn" style="float: right" action="/rental_agencies/signout" method="get">
    <button type="submit">
        Signout
    </button>
  </form>
<center>
    <h3>This car was booked by:</h3>
    <h4>User name: <%=result.name%>&nbsp;&nbsp;&nbsp; Address: <%=result.address%>&nbsp;&nbsp;&nbsp; Contact no: <%=result.contact%>&nbsp;&nbsp;&nbsp; Email id: <%=result.email%>&nbsp;&nbsp;&nbsp;</h4>
</center>